# otel-config.yaml
receivers:
  # Receives metrics & traces from your app
  otlp:
    protocols:
      grpc:
      http:

processors:
  batch:
    send_batch_size: 100
    timeout: 5s

exporters:
  prometheusremotewrite:
    endpoint: http://prometheus:9090/api/v1/write
    timeout: 30s   # default is 5s
    tls:
      insecure: true
  logging:
    verbosity: Detailed

service:
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheusremotewrite, logging]

#    traces:
#      receivers: [otlp]
#      processors: [batch]
#      exporters: [logging]