server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: kafka_api_logs
    kafka:
      brokers: ["kafka:29092"]
      topics: ["api-logs"]
      group_id: "promtail-api"
    relabel_configs:
      - source_labels: [ __meta_kafka_topic ]
        target_label: kafka_topic

    pipeline_stages:
      - static_labels:
            source: "api"
            pipeline: "kafka"
      - json:
          expressions:
            timestamp: timestamp
            level: level
            logger: logger
            thread: thread
            traceId: traceId
            spanId: spanId
            executionTime: executionTime
            methodName: methodName
            isSuccess: isSuccess
            message: message
      - timestamp:
          source: timestamp
          format: RFC3339
      - labels:
          level: level
          methodName: methodName
          isSuccess: isSuccess
      - output:
          source: message

  - job_name: kafka_repo_logs
    kafka:
      brokers: ["kafka:29092"]
      topics: ["repository-logs"]
      group_id: "promtail-repo"
    relabel_configs:
      - source_labels: [ __meta_kafka_topic ]
        target_label: kafka_topic

    pipeline_stages:
      - static_labels:
          source: "repository"
          pipeline: "kafka"
      - json:
          expressions:
            timestamp: timestamp
            level: level
            logger: logger
            thread: thread
            traceId: traceId
            spanId: spanId
            executionTime: executionTime
            methodName: methodName
            isSuccess: isSuccess
            message: message
      - timestamp:
          source: timestamp
          format: RFC3339
      - labels:
          level: level
          methodName: methodName
          isSuccess: isSuccess
      - output:
          source: message
